﻿@model IEnumerable<Softtek.Academy2018.Demo.Domain.Model.User>
@using Softtek.Academy2018.Demo.Domain.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<br />
<br />

@if (Model.Count() <= 0)
{
    <h2> There are no users on record</h2>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">IS</th>
                <th scope="col">Project</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName @user.LastName </td>
                    <td>@user.IS</td>
                    <td>@user.Project.Name</td>
                </tr>
            }
            s
        </tbody>
    </table>
}



