﻿@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Users"))
{
<div class="jumbotron">
    <h1>User Management</h1>
    <p class="lead">Demo</p>
    <p><button type="submit" class="btn btn-primary">Users</button></p>
</div>
}