﻿@model List<Softtek.Academy2018.Demo.MVC.ViewModel.UserViewModel>
@using Softtek.Academy2018.Demo.Domain.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<br />
<br />

@if (Model.Count() <= 0)
{
    <div class="alert alert-danger" role="alert">
        <p>
            <b>Oops!</b> There are no users on record.
            @Html.ActionLink("Click to add a new user.", "New", "Users")
        </p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#<p class="glyphicon glyphicon-user"></p></th>
                <th scope="col">IS</th>
                <th scope="col">User</th>
                @*<th scope="col">Project</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.Id</td>
                <td><a href="@Url.Action("Details","Users", new { id = user.Id })">@user.IS</a></td>
                <td>@user.FirstName @user.LastName</td>
                @*<td><a href="~/Views/Project/Index.cshtml">@Model.Project.Name</a></td>*@
            </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary" href="@Url.Action("New", "Users")"><p class="glyphicon glyphicon-user"> </p> Add a new user</a>
@*@Html.ActionLink("Add new user", "New", "Users", null, new { @class = "btn btn-primary"})*@
